.idea/
.gradle/
*.class
.idea
*.iws
*.iml
*.ipr
*.DS_Store
*.sw?
.#*
*#
*~
bin
build
target
*.sublime-*
/scratch
.gradle
README.html
.exercism
.vscode/
.DS_Store
out/
.micronaut/
src/main/resources/static/